*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/app/src/main/cpp/Documents/SDK/Bento4_SDK_documentation.doc
/app/src/main/cpp/Documents/SDK/Bento4_SDK_documentation.pdf
/app/src/main/cpp/Documents/SDK/~$nto4_SDK_documentation.doc
